@font-face {
  font-family: "TangerineRegular";
  src: url("../fonts/Tangerine_Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Tangerine_Regular.woff") format("woff"),
       url("../fonts/Tangerine_Regular.ttf") format("truetype"),
       url("../fonts/Tangerine_Regular.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "TangerineBold";
  src: url("../fonts/Tangerine_Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Tangerine_Bold.woff") format("woff"),
       url("../fonts/Tangerine_Bold.ttf") format("truetype"),
       url("../fonts/Tangerine_Bold.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "UbuntuMono";
  src: url("../fonts/UbuntuMono-R.eot?#iefix") format("embedded-opentype"),
       url("../fonts/UbuntuMono-R.woff") format("woff"),
       url("../fonts/UbuntuMono-R.ttf") format("truetype"),
       url("../fonts/UbuntuMono-R.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Inconsolata.woff") format("woff"),
       url("../fonts/Inconsolata.ttf") format("truetype"),
       url("../fonts/Inconsolata.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Anonymous";
  src: url("../fonts/anonymous.eot?#iefix") format("embedded-opentype"),
       url("../fonts/anonymous.woff") format("woff"),
       url("../fonts/anonymous.ttf") format("truetype"),
       url("../fonts/anonymous.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Cousine";
  src: url("../fonts/cousine-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/cousine-regular.woff") format("woff"),
       url("../fonts/cousine-regular.ttf") format("truetype"),
       url("../fonts/cousine-regular.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Cousine";
  font-weight: bold;
  src: url("../fonts/cousine-bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/cousine-bold.woff") format("woff"),
       url("../fonts/cousine-bold.ttf") format("truetype"),
       url("../fonts/cousine-bold.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Cousine";
  font-style: italic;
  src: url("../fonts/cousine-italic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/cousine-italic.woff") format("woff"),
       url("../fonts/cousine-italic.ttf") format("truetype"),
       url("../fonts/cousine-italic.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Cousine";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/cousine-bold-italic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/cousine-bold-italic.woff") format("woff"),
       url("../fonts/cousine-bold-italic.ttf") format("truetype"),
       url("../fonts/cousine-bold-italic.svg#svgFontName") format("svg");
}

.keyword {
  color: #d0d6aa;
}

.target_keyword {
  color: #51bab6;
}

.inactive {
  color: #a6a8a8;
}

.label {
  background-color: transparent;
  border: 1px solid #a6a8a8;
  border-radius: 0px 0px 0px 0px;
}

.label:hover {
  background-color: #a6a8a8;
}

.label-info {
  border-color: #51bab6;
  border-color: #c93a3e;
}

.label-info:hover {
  background-color: #51bab6;
}

.label-success {
  border-color: #3c7369;
  border-color: #51bab6;
}

.label-success:hover {
  background-color: #3c7369;
}

.document-snippet {
  color: #a6a8a8;
}

.table-bordered {
  border-color: #f3f7f6;
  border-radius: 0px 0px 0px 0px;
}

.table tbody tr.error td {
  background-color: #c93a3e;
}

h8 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
